Source: php-restauth
Section: php
Priority: extra
Maintainer: Mathias Ertl <apt-repository@fsinf.at>
Build-Depends: debhelper (>= 7.0.50), git-core, php-phpdocumentor
Standards-Version: 3.9.1
Homepage: http://fs.fsinf.at/wiki/RestAuth/PHP

Package: php-restauth
Architecture: all
Section: php
Depends: ${shlibs:Depends}, ${misc:Depends}, php5-pecl-http
Description: client library for RestAuth webservices
 This library is written in pure php and implements all features of the RestAuth
 protocol.

Package: php-restauth-doc
Architecture: all
Depends: ${misc:Depends}
Section: doc
Description: API documentation and examples for php-restauth
 This includes phpdoc documentation in HTML format and additional examples.
