#!/usr/bin/make -f

GIT_URL=https://git.fsinf.at/restauth/php.git
DH_ARGS = --with quilt

include /usr/share/cdbs/1/rules/buildvars.mk

prepare: cleanup
	dh_testdir
	python /usr/share/restauth-common/prepare.py ${GIT_URL} ${DEB_SOURCE_PACKAGE}

cleanup: clean
	dh_testdir
	rm -f debian/patches/.dpkg-source-applied
	ls -A | grep --invert-match "^debian" | xargs rm -rf
	dh_clean

%:
	dh ${DH_ARGS} $@

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
override_dh_auto_test:
override_dh_auto_install:
	/usr/bin/pear \
		-c debian/pearrc \
		-d include_path=/usr/share/php \
		-d php_bin=/usr/bin/php \
		-d bin_dir=/usr/bin \
		-d php_dir=/usr/share/php \
		-d data_dir=/usr/share/php/data \
		-d doc_dir=/usr/share/php/docs \
		-d test_dir=/usr/share/php/tests \
		install --offline --nodeps -P $(DEB_DESTDIR) package.xml

override_dh_auto_build:
	dh_auto_build -O ${DH_ARGS}
	make doc
