#!/usr/bin/make -f

DEB_UPSTREAM=$(shell dpkg-parsechangelog -ldebian/changelog | grep '^Source:' | sed  -e 's/[^ ]* //' -e 's/[^:]://')
GIT_URL=git://git.fsinf.at/restauth/php.git
DH_ARGS = --with quilt

prepare: cleanup
	dh_testdir
	python /usr/share/restauth-common/prepare.py ${GIT_URL} ${DEB_UPSTREAM}

cleanup: clean
	dh_testdir
	rm -f debian/patches/.dpkg-source-applied
	rm -f debian/patches/debian-changes*
	-quilt delete -r debian-changes-${VERSION}-1
	ls -A | grep --invert-match "^debian" | grep --invert-match "^.svn" | xargs rm -rf
	dh_clean

%:
	dh ${DH_ARGS} $@

override_dh_auto_test:

override_dh_auto_build:
	dh_auto_build -O ${DH_ARGS}

	make doc
