#!/usr/bin/make -f
# template debian/rules provided by dh-make-php.

DEB_COMPRESS_EXCLUDE=package.xml

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/pear.mk

get-orig-source:
	uscan --noconf --force-download --download-current-version --destdir=${CURDIR}
#	wget http://download.pear.php.net/package/XML_Beautifier-1.2.2.tgz -O ../${ORIG_SRC}
