#!/usr/bin/make -f
# template debian/rules provided by dh-make-php.

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/pear.mk
DEB_FIXPERMS_EXCLUDE=usr/share/php/PhpDocumentor/scripts/makedoc.sh

get-orig-source:
	uscan --noconf --force-download --download-current-version --destdir=${CURDIR}

common-install-indep::
	# ${DEB_DESTDIR}
	rm ${DEB_DESTDIR}usr/share/doc/php-phpdocumentor/INSTALL
	rm ${DEB_DESTDIR}usr/share/php/data/PhpDocumentor/phpDocumentor/Smarty-2.6.0/COPYING.lib
	rm -f ${DEB_DESTDIR}usr/share/doc/php-phpdocumentor/README
	chmod a+rx ${DEB_DESTDIR}usr/share/php/PhpDocumentor/scripts/makedoc.sh
	touch -m PhpDocumentor-1.4.3/README

#%:
#	dh $@
