Source: php-restauth
Section: php
Priority: extra
Maintainer: Mathias Ertl <mati@restauth.net>
Build-Depends: debhelper (>= 7.0.50), git-core, php-phpdocumentor, cdbs
Standards-Version: 3.9.5
Homepage: https://php.restauth.net
Vcs-Git: https://github.com/RestAuth/php.git
Vcs-Browser: https://github.com/RestAuth/php/tree/debian

Package: php-restauth
Architecture: all
Section: php
Depends: ${shlibs:Depends}, ${misc:Depends}, php-curl
Description: client library for RestAuth webservices
 This library is written in pure php and implements all features of the RestAuth
 protocol.

Package: php-restauth-doc
Architecture: all
Depends: ${misc:Depends}
Section: doc
Description: API documentation and examples for php-restauth
 This includes phpdoc documentation in HTML format and additional examples.
