#!/usr/bin/make -f

SVN_DIR=php

# check where we are running:
DIST_CODENAME=$(shell lsb_release -sc)
QUILT_VERSION = $(shell dpkg-query -f $$\{Version\} -W quilt | sed 's/.*://')

# create DH_ARGS according to whats installed.
DH_ARGS =
ifeq "$(shell dpkg --compare-versions ${QUILT_VERSION} gt 0.46-7; echo $$?)" "0"
# not in hardy, jaunty, lenny
DH_ARGS += --with quilt
endif

SRC_LOCATION=https://svn.fsinf.at/fs/RestAuth/${SVN_DIR}
SRC_PACKAGE=$(shell dpkg-parsechangelog | grep '^Source'|sed  -e 's/[^ ]* //' -e 's/[^:]://')
VERSION=$(shell svn info ${SRC_LOCATION} | grep "Last Changed Rev" | sed 's/.*: //' )
DEB_VERSION=$(shell dpkg-parsechangelog -ldebian/changelog|grep '^Version'|sed  -e 's/[^ ]* //' -e 's/[^:]://')
DEB_UPSTREAM_VERSION=$(shell echo $(DEB_VERSION)|sed 's/-.*$$//')
ARCHIVE=../${SRC_PACKAGE}_${VERSION}.orig.tar.gz

${ARCHIVE}:
	svn export https://svn.fsinf.at/fs/RestAuth/${SVN_DIR} ${SRC_PACKAGE}
	tar czf ${ARCHIVE} ${SRC_PACKAGE}
	rm -rf ${SRC_PACKAGE}

prepare: cleanup ${ARCHIVE}
ifneq "${VERSION}" "${DEB_UPSTREAM_VERSION}"
	# version in changelog is wrong: ${DEB_UPSTREAM_VERSION}. Should be ${VERSION}.
	exit 1
endif
	dh_testdir
	tar xzf ${ARCHIVE} -C ..

cleanup: clean
	dh_testdir
	rm -f ${ARCHIVE}
	rm -f debian/patches/.dpkg-source-applied
	rm -f debian/patches/debian-changes*
	-quilt delete -r debian-changes-${VERSION}-1
	ls -A | grep --invert-match "^debian" | grep --invert-match "^.svn" | xargs rm -rf
	dh_clean

%:
	dh ${DH_ARGS} $@

override_dh_auto_test:

override_dh_auto_build: $(PYVERS:%=build-python%)
	dh_auto_build -O --with-quilt

	make doc
